server:
  forward-headers-strategy: native

spring:
  datasource:
    url: jdbc:postgresql:///${DB_NAME}
    hikari:
      data-source-properties:
        socketFactory: com.google.cloud.sql.postgres.SocketFactory
        cloudSqlInstance: ${CLOUD_SQL_INSTANCE}
        user: ${DB_USER}
        password: ${DB_PASS}
  jpa:
    show-sql: false
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_CLIENT_ID}
            clientSecret: ${GOOGLE_CLIENT_SECRET}
app:
  # where 'index.html' lives from the UA's perspective
  public-url: https://gobrennas.com/
  aws:
    bucket-name: foodinger

logging:
  level:
    #    org.springframework: debug
    com.brennaswitzer: debug
