<!doctype html>
<html lang="en">
<head>
    <title>Not Found</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<h1>Not Found</h1>
<p>Are you looking for <a href="https://gobrennas.com"
                          th:attr="href=${@environment.getProperty('app.public-url')}"
                          th:text="${@environment.getProperty('app.public-url')}">gobrennas.com</a>?
</p>
</body>
</html>
